* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
p,
a,
article {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: #999;
}

img {
  width: 100%;
}

/* Header Styles */
.header {
  position: sticky;
  top: 0;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

/* --------------search bar------------- */

.search-bar {
  width: 50%;
  margin: 0 auto;
}

.search-bar form {
  width: 60%;
  margin: 0 auto;
  border: 1px solid #fff;
  position: relative;
  border-radius: 5px;
}

.search-bar form input[type="text"] {
  width: 84%;
  padding: 7px;
  background-color: transparent;
  border: 0 solid;
  outline: none;
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;
}

.search-bar form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  padding: 5px;
  background-color: #fff;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  border: 0 solid;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* --------------hero----------- */

.hero-area {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav {
  display: flex;
}

.menu {
  display: flex;
  gap: 15px;
}

.menu li a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
.menu li {
  padding: 5px 10px;
  transition: background-color 0.3s;
}

.menu li:hover {
  background-color: #555;
  border-radius: 5px;
}

.submenu {
  display: none;
  position: absolute;
  padding: 20px;
  top: 77%;
  background-color: #333;
}

.hidden {
  display: none;
}

.menu li:hover .submenu {
  display: block;
}

/* Toggle Button for Mobile */
.toggle-button {
  display: none;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.toggle-button i {
  font-size: 1.5rem;
}

/* ------------------------- main container----------------------- */

.main-container {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 1fr;
  column-gap: 20px;
  min-height: 660px;
}

.left {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 1px 5px #000;
}
.no-posts {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 1px 5px #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
/* -----------------category section------------- */

.right {
  height: 100vh;
}

.category-list {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 1px 5px #000;
}

.category-list h3 {
  font-size: 25px;
}

.category-list li {
  margin-bottom: 10px;
}

.category-list li a {
  font-size: 18px;
  text-decoration: none;
  color: #000;
}

/* ---------------about section --------- */

.about-section {
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 1px 5px #000;
}

.author {
  display: flex;
  align-items: center;
}
.author img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.author-name {
  margin-left: 10px;
}

.author-name h4 {
  font-size: 20px;
  padding-bottom: 5px;
}
.author-name p {
  font-size: 16px;
}

.about-content {
  margin-top: 20px;
  font-size: 16px;
  line-height: 25px;
}

.social-group {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.social-group a img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

/* -----------------popular post -------------- */

.popular_container {
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 1px 5px #000;
  height: 340px;
  overflow-y: scroll;
}

.popular_container h3 {
  text-align: center;
  padding: 15px 0;
}

.popular-item {
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  transform: translateX(110%);
  transition: all linear 0.3s;
}
.popular-read {
  margin: 10px auto 0;
  display: block;
  background-color: #fff;
  color: #000;
  padding: 5px 10px;
  width: 80px;
  border-radius: 5px;
  text-decoration: none;
}

.popular-item:hover .overlay {
  transform: translateX(0);
  transition: all linear 0.3s;
}

/* Responsive Styles */
@media (max-width: 767px) {
  .menu {
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: #333;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 10px;
    border-radius: 5px;
  }

  .menu.active {
    display: flex;
  }

  .toggle-button {
    display: block;
  }

  /* -----------------search bar--------------- */

  .search-bar {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    padding: 10px 0;
    display: none;
  }

  .toggle-display {
    display: block !important;
  }

  .search-bar form {
    width: 81%;
    margin: 0 auto;
    border: 1px solid #fff;
    position: relative;
    border-radius: 5px;
  }

  .search-bar form input[type="submit"] {
    width: 30%;
  }

  /* ---------------main container------------ */
  .main-container {
    grid-template-columns: 1fr;
  }

  .right {
    width: 90%;
    margin: 20px auto 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 90%;
  }

  .menu {
    gap: 0px;
  }

  .search-bar form {
    width: 80%;
  }

  .search-bar form input[type="submit"] {
    width: 30%;
  }
  .logo {
    font-size: 17px;
  }
}
