* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.comment-container {
  width: 70%;
  margin: 0 auto;
}

.comment-container h2 {
  text-align: center;
  padding: 20px 0;
}

.comment-container table {
  border: 1px solid black;
  width: 100%;
  border-collapse: collapse;
}

.comment-container table thead tr th {
  border: 1px solid black;
  padding: 10px 0;
}
.comment-container table tbody tr td {
  border: 1px solid black;
  padding: 10px 0;
  text-align: center;
}

.comment-container table tbody tr td:last-child {
  width: 10%;
}

.comment-container table tbody tr td:nth-child(4) {
  width: 30%;
}
.comment-container table tbody tr td:nth-child(5) {
  width: 50%;
}

.comment-container table thead tr th:last-child {
  width: 10%;
}
